//Colors
$background: #000;
$font-white: #fff;
$font-gray: #aaa;

//Phones fonts
$font-header-small: 2.6rem;
$font-input-small: 1.2rem;
$font-button-small: 1.2rem;
$font-temperature-small: 4.6rem;
$font-city-small: 3rem;
$font-description-small: 2.2rem;
$font-data-small: 1.4rem;
$font-footer-small: 1rem;

$font-no-data-found-small: 3rem;


//Tablets fonts
$font-header-medium: 3rem;
$font-input-medium: 1.6rem;
$font-button-medium: 1.4rem;
$font-temperature-medium: 8rem;
$font-city-medium: 5rem;
$font-description-medium: 3.2rem;
$font-data-medium: 2.6rem;
$font-footer-medium: 1.4rem;

$font-no-data-found-medium: 5rem;


//Desktop fonts