*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/weather-large.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/weather-large.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .header__title {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  min-height: 75px;
  background-color: #000;
  font-size: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: landscape) {
  .app .header__title {
    min-height: 50px;
  }
}

@media (min-width: 768px) {
  .app .header__title {
    min-height: 100px;
    font-size: 3rem;
  }
}

.app .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.app .main__wrapper {
  -ms-flex-preferred-size: 248px;
      flex-basis: 248px;
}

@media (orientation: landscape) {
  .app .main__wrapper {
    -ms-flex-preferred-size: 376px;
        flex-basis: 376px;
  }
}

@media (min-width: 768px) {
  .app .main__wrapper {
    -ms-flex-preferred-size: 452px;
        flex-basis: 452px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .app .main__wrapper {
    -ms-flex-preferred-size: 640px;
        flex-basis: 640px;
  }
}

.app .main__wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

@media (orientation: landscape) {
  .app .main__wrapper .form {
    margin-top: 5px;
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (min-width: 768px) {
  .app .main__wrapper .form {
    margin-top: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .app .main__wrapper .form {
    margin-top: 49px;
    margin-left: 94px;
    margin-right: 94px;
  }
}

.app .main__wrapper .form__input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 24px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px 0 3px 6px;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .app .main__wrapper .form__input {
    height: 34px;
    font-size: 1.4rem;
  }
}

.app .main__wrapper .form__btn {
  -ms-flex-preferred-size: 76px;
      flex-basis: 76px;
  height: 24px;
  margin-top: 8px;
  border: 1px solid black;
  background-color: #fff;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .app .main__wrapper .form__btn {
    -ms-flex-preferred-size: 136px;
        flex-basis: 136px;
    height: 34px;
    margin-top: 38px;
    font-size: 1.4rem;
  }
}

.app .main__wrapper .display {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .main__wrapper .display__temperature {
  font-size: 4.6rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .app .main__wrapper .display__temperature {
    margin-top: 56px;
    font-size: 8rem;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .app .main__wrapper .display__temperature {
    margin-top: 113px;
  }
}

.app .main__wrapper .display__city, .app .main__wrapper .display__error {
  font-size: 3rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .app .main__wrapper .display__city, .app .main__wrapper .display__error {
    font-size: 5rem;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .app .main__wrapper .display__city, .app .main__wrapper .display__error {
    margin-top: 113px;
  }
}

.app .main__wrapper .display__error {
  margin-top: 90px;
}

@media (min-width: 768px) {
  .app .main__wrapper .display__error {
    margin-top: 328px;
  }
}

.app .main__wrapper .display__description {
  font-size: 2.2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .app .main__wrapper .display__description {
    margin-top: 30px;
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .app .main__wrapper .display__description {
    margin-top: 113px;
  }
}

.app .main__wrapper .display__data {
  font-size: 1.4rem;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .app .main__wrapper .display__data {
    margin-top: 30px;
    font-size: 2.6rem;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .app .main__wrapper .display__data {
    font-size: 2rem;
  }
}

@media (orientation: landscape) {
  .app .main__wrapper .display__temperature, .app .main__wrapper .display__city, .app .main__wrapper .display__description, .app .main__wrapper .display__data {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .app .main__wrapper .display__temperature, .app .main__wrapper .display__city, .app .main__wrapper .display__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.app .footer__paragraph {
  color: #fff;
  background-color: #000;
  min-height: 50px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: landscape) {
  .app .footer__paragraph {
    min-height: 30px;
  }
}

@media (min-width: 768px) {
  .app .footer__paragraph {
    min-height: 60px;
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */